.intro-background {
  justify-content: center;
  align-items: center;
}

.intro-item {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.intro-item h1,
h2,
ul,
li {
  text-align: center;
}

h2{
  font-size: 15px;
  font-style: bold;
  padding-bottom: 20px;
  font-variant-caps: all-petite-caps;
}

.field{
  padding-bottom: 100px;
}

.timeline-item {
  display: flex;
  width: 50%;
  height: 120px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.intro-item p {
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: 100px;
}

.experience-info {
  padding: 16px;
  font-size: 10pt;
}

.experience-info h4,
p {
  margin: 0;
}

